/*
Error: Invalid CSS after "$blue: #d64e28": expected "{", was ";"
        on line 6 of /Users/lb155/Desktop/vegApp_stylework-master/css/style.scss

1: $teal: #2cd6a3;
2: $white: #ffffff;
3: $neon: #d0ff00;
4: $grey: #666666;
5: <<<<<<< HEAD
6: $blue: #d64e28;
7: =======
8: 
9: >>>>>>> cc9896fedbdfc40058bc50b6842c0794526dd8d4
10: 
11: 

Backtrace:
/Users/lb155/Desktop/vegApp_stylework-master/css/style.scss:6
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `load'
/Users/lb155/Downloads/Koala.app/Contents/Resources/app.nw/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$blue: #d64e28\": expected \"{\", was \";\"\A         on line 6 of /Users/lb155/Desktop/vegApp_stylework-master/css/style.scss\A \A 1: $teal: #2cd6a3;\A 2: $white: #ffffff;\A 3: $neon: #d0ff00;\A 4: $grey: #666666;\A 5: <<<<<<< HEAD\A 6: $blue: #d64e28;\A 7: =======\A 8: \A 9: >>>>>>> cc9896fedbdfc40058bc50b6842c0794526dd8d4\A 10: \A 11: "; }
