
<div class="userinfo">

<form name = "myform" novalidate ng-submit="login()">
<h1>Login</h1>
<h2>Log in to start the party!</h2>

<input id="userfield" type="email" name="email" placeholder="email" autofocus
ng-model="user.email" ng-required="true">
<p class="error" ng-show="myForm.email.$invalid && myform.email.$touched">
Must use a valid email address.</p>
<br>

<input id="userfield" type="password" name="password" placeholder="password" ng-model="user.password" ng-required="true">

<p class="error" ng-show="myForm.password.$invalid && myform.password.$touched">
Must enter a password.</p>
<br>

<button ng-disabled="myform.$invalid" type="submit" class="btn btn-success">Here we go!</button>
</form>

</div>
